﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model DonSearchViewModel

<body class=@Model.RayonSelector>
    <article>
        <form method="post">
            <input asp-for="SearchCriteria.ProduitName" placeholder="Recherche rapide"></input>
            <input type="submit" value="Rechercher" />
            <nav class="catalog">
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="FeL" asp-route-rayonId="1">
                    <div class="FeL2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="VeP" asp-route-rayonId="2">
                    <div class="VeP2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="PeP" asp-route-rayonId="3">
                    <div class="PeP2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="F" asp-route-rayonId="4">
                    <div class="F2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="S" asp-route-rayonId="5">
                    <div class="S2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="B" asp-route-rayonId="6">
                    <div class="B2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="ESalee" asp-route-rayonId="7">
                    <div class="ESalee2">
                    </div>
                </a>
                <a class="item" asp-controller="Catalog" asp-action="FeL" asp-route-rayonSelector="ESucree" asp-route-rayonId="8">
                    <div class="ESucree2">
                    </div>
                </a>
            </nav>

            <nav class="filterSearch">
                <select hidden asp-for="Rayon">
                    <option hidden selected value="@Model.Rayon"></option>
                </select>
                <div class="left">
                    <div>
                        Catégorie :
                        <br />
                        <select asp-for="@Model.Categorie">
                            <option value="">All...</option>
                            @foreach (Categorie2 cat in Model.Categories2)
                            {
                                <option value="@cat.Id">@cat.Name</option>
                            }
                        </select>
                    </div>
                    @if (Model.Categorie != 0)
                    {
                        <div>
                            Sous-catégorie :
                            <br />
                            <select asp-for="@Model.SousCategorie">
                                <option value="">All...</option>
                                @foreach (Categorie3 cat in Model.Categories3)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            </select>
                        </div>
                    }
                    @if (Model.SousCategorie != 0 && Model.Categorie != 0)
                    {
                        <div>
                            Produit :
                            <br />
                            <select asp-for="SearchCriteria.ProduitId">
                                <option value="">All...</option>
                                @foreach (ProduitDetails pro in Model.Produits)
                                {
                                    <option value="@pro.Id">@pro.Name</option>
                                }
                            </select>
                        </div>
                    }
                    <div>
                        Quantité :
                        <br />
                        <input asp-for="SearchCriteria.Qty"></input>
                    </div>
                </div>
                <div class="right">
                    Date limite de consommation (DLC) :
                    <br />
                    Min <input asp-for="SearchCriteria.DlcMin"></input>
                    Max <input asp-for="SearchCriteria.DlcMax"></input>
                    <br />
                    Date de durabilité minimale (DDM):
                    <br />
                    Min <input asp-for="SearchCriteria.DdmMin"></input>
                    Max <input asp-for="SearchCriteria.DdmMax"></input>
                </div>
            </nav>
        </form>

        <nav class="searchResult">
            @foreach (DonDetails don in Model.Dons)
            {
                if (don.ReserveDate == null && don.CancelDate == null)
                {
                    <article class="mesdonsarticle">
                        <header>
                            <a style="text-decoration:none; color:black;" asp-controller="Don"
                   asp-action="Details"
                   asp-route-donId="@don.Id"
                   asp-route-adherentId="@don.DonorId">
                                <img class="mesdonsimage" src="/images/@don.DonorId/@don.Picture" alt="" onerror="this.onerror=null; this.src='/images/default.png'">
                            </a>
                        </header>
                        <span>
                            <a style="text-decoration:none; color:black;" asp-controller="Don"
                       asp-action="Details"
                       asp-route-donId="@don.Id"
                       asp-route-adherentId="@don.DonorId">
                                
                                @*<a style="text-decoration:none; color:black;" href="../Don/Details/@don.Id">*@

                                <h1>@don.ProduitName, @don.Qty @don.UniteName</h1>
                            </a>
                            @*</a>*@
                        </span>
                        <span>
                            @if (!don.Dlc.Equals(null))
                            {
                                <p>DLC: @don.Dlc</p>
                            }
                            else if (!don.Ddm.Equals(null))
                            {
                                <p>DDM: @don.Ddm</p>
                            }
                        </span>
                        <span>
                            @if (!don.AltStreetNb.Equals(null))
                            {
                                <p>
                                    @don.AltStreetNb @don.AltStreetName @don.AltCompAdr <br>
                                    @don.DonPostcode @don.DonCity
                                </p>
                            }
                            else if (!don.RelStreetNb.Equals(null))
                            {
                                <p>
                                    @don.RelStreetNb @don.RelStreetName @don.RelCompAdr <br>
                                    @don.RelaisPostcode @don.RelaisCity
                                </p>
                            }
                            else if (!don.PartStreetNb.Equals(null))
                            {
                                <p>
                                    @don.PartStreetNb @don.PartStreetName @don.PartCompAdr <br>
                                    @don.PartPostcode @don.PartCity
                                </p>
                            }
                            else
                            {
                                <p>
                                    @don.DonorStreetNb @don.DonorStreetName @don.DonorCompAdr <br>
                                    @don.DonorPostcode @don.DonorCity
                                </p>
                            }
                        </span>
                    </article>
                }
            }
        </nav>
    </article>
</body>

