﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model DonDetails

<h1>Votre réservation a bien été annulé</h1> 


<form method ="post">

         <br/>
    <br/>
        <img src="/images/Cancel.png"/>

    <br/>
    <br/>
    <input type="submit" value="Retour"/>
    <select hidden asp-for="Id">
        <option selected value="@Model.Id"></option>
    </select>

</form>
