﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model DonDetailsViewModel

<body class="detailed-view-body">

    <div class="detailed-view-content">

        <div class="detailed-view-don-segment">
            <div class="product-categories">
                @Model.DonDetails.CatName > @Model.DonDetails.Cat2Name > @Model.DonDetails.Cat3Name
            </div>
            @*<div >*@
            <img class="product-photo-div" src=\images\@Model.DonDetails.DonorId\@Model.DonDetails.Picture alt=@Model.DonDetails.ProduitName onerror="this.onerror=null; this.src='/images/default.png'" />
            @*</div>*@
            <div>
                <h1>@Model.DonDetails.ProduitName, @Model.DonDetails.Qty @Model.DonDetails.UniteName</h1>
            </div>

            <div>
                @if (!Model.DonDetails.Dlc.Equals(null))
                {
                    <h3>Expire le @Model.DonDetails.Dlc</h3>
                }
                else if (!Model.DonDetails.Ddm.Equals(null))
                {
                    <h3>À consommer de préférence avant le @Model.DonDetails.Ddm</h3>
                }
                else
                {
                    <h3>Date d'expiration non-renseigné</h3>
                }
            </div>

            <div>
                @if (!Model.DonDetails.AltStreetNb.Equals(null))
                {
                    <p>À récupérer chez le donateur</p>
                }
                else if (!Model.DonDetails.RelStreetNb.Equals(null))
                {
                    <p>À récupérer dans un point relais</p>
                }
                else if (!Model.DonDetails.PartStreetNb.Equals(null))
                {
                    <p>À récupérer dans un point relais</p>

                }
                else
                {
                    <p>À récupérer chez le donateur</p>

                }
            </div>

            <div>
                @if (!Model.DonDetails.AltStreetNb.Equals(null))
                {
                    <p>
                        @Model.DonDetails.AltStreetNb @Model.DonDetails.AltStreetName @Model.DonDetails.AltCompAdr <br>
                        @Model.DonDetails.DonPostcode @Model.DonDetails.DonCity
                    </p>
                }
                else if (!Model.DonDetails.RelStreetNb.Equals(null))
                {
                    <p>
                        @Model.DonDetails.RelStreetNb @Model.DonDetails.RelStreetName @Model.DonDetails.RelCompAdr <br>
                        @Model.DonDetails.RelaisPostcode @Model.DonDetails.RelaisCity
                    </p>
                }
                else if (!Model.DonDetails.PartStreetNb.Equals(null))
                {
                    <p>
                        @Model.DonDetails.PartStreetNb @Model.DonDetails.PartStreetName @Model.DonDetails.PartCompAdr <br>
                        @Model.DonDetails.PartPostcode @Model.DonDetails.PartCity
                    </p>
                }
                else
                {
                    <p>
                        @Model.DonDetails.DonorStreetNb @Model.DonDetails.DonorStreetName @Model.DonDetails.DonorCompAdr <br>
                        @Model.DonDetails.DonorPostcode @Model.DonDetails.DonorCity
                    </p>
                }
            </div>
        </div>

        <div class="detailed-view-donor-and-control-segment">
            <form method=post>
                <div>
                    <label for="adherent">Adherent :&nbsp;</label>

                    <select hidden asp-for="DonDetails.Id">
                        <option hidden selected value="@Model.DonDetails.Id"></option>
                    </select>

                    <select asp-for="SelectedAdherentId">
                        <option value="" disabled hidden>Selectionner un adherent</option>
                        <option value="0">Tous</option>
                        @foreach (Adherent adherent in Model.Adherents)
                        {
                            <option value="@adherent.Id">@adherent.FirstName @adherent.LastName</option>
                        }
                    </select>

                    <input value="Select" type="submit" />
                </div>
            </form>
            @if (Model.DonDetails.CancelDate != null)
                {
                    <h1>Ce don n'est pas disponible</h1>
                }else{
            <div>
                
                @if (Model.SelectedAdherentId == Model.DonDetails.BeneficiaryId)
                {
                    <h1>Proposé par <br />@Model.DonDetails.DonorFirstName @Model.DonDetails.DonorLastName</h1>
                }
                else if (Model.SelectedAdherentId == Model.DonDetails.DonorId)
                {
                    if (Model.DonDetails.BeneficiaryId.Equals(null))
                    {
                        <h1>Réservation ouverte</h1>
                    }
                    else
                    {
                        <h1>Réservé par <br />@Model.DonDetails.BeneficiaryFirstName @Model.DonDetails.BeneficiaryLastName</h1>
                    }
                }
                else
                {
                    <h1>Proposé par <br />@Model.DonDetails.DonorFirstName @Model.DonDetails.DonorLastName</h1>
                }

                @if (Model.SelectedAdherentId == Model.DonDetails.BeneficiaryId && !Model.DonDetails.BeneficiaryId.Equals(null))
                {
                    <h3>@Model.DonDetails.DonorTel</h3>
                    <h3>@Model.DonDetails.DonorEmail</h3>
                }
                else if (Model.SelectedAdherentId == Model.DonDetails.DonorId && !Model.DonDetails.BeneficiaryId.Equals(null))
                {
                    <h3>@Model.DonDetails.BeneficiaryTel</h3>
                    <h3>@Model.DonDetails.BeneficiaryEmail</h3>
                }
                else if (Model.DonDetails.BeneficiaryId.Equals(null)&&Model.SelectedAdherentId!=Model.DonDetails.DonorId)
                {
                    <h3>Reservez le don </h3>
                    <h3>pour contacter</h3>
                }
                else if (Model.SelectedAdherentId!=Model.DonDetails.DonorId)
                {
                    <h3>Ce don n'est</h3>
                    <h3>pas disponible</h3>
                }
            </div>
            <div>
                @if (Model.DonDetails.ReserveDate.Equals(null) && Model.SelectedAdherentId != Model.DonDetails.DonorId)
                {
                    <a asp-controller="Don"
                   asp-action="MakeAReservation"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Réserver</a>
                    <br />
                }

                @if (!Model.DonDetails.ReserveDate.Equals(null))
                {
                    <span>Date de réservation : @Model.DonDetails.ReserveDate</span>
                    <br />
                }

                @if (Model.DonDetails.Handover.Equals(null) && Model.DonDetails.AvailableCollect.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.DonorId)
                {
                    <a asp-controller="Don"
                   asp-action="Update"
                   asp-route-id="@Model.DonDetails.Id">Modifier</a>
                    <br />
                }

                @if (Model.DonDetails.Handover.Equals(null) && Model.DonDetails.AvailableCollect.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.DonorId)
                {
                    <a asp-controller="Don"
                   asp-action="CancelDon"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Supprimer</a>
                    <br />
                }

                @if (!Model.DonDetails.ReserveDate.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.BeneficiaryId && Model.DonDetails.Receive.Equals(null))
                {
                    <a asp-controller="Don"
                   asp-action="CancelReservation"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Annuler la reservation</a>
                    <br />
                }

                @if (!Model.DonDetails.ReserveDate.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.BeneficiaryId && Model.DonDetails.Receive.Equals(null))
                {
                    <a asp-controller="Don"
                   asp-action="ConfirmReceived"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Confirmer la reception</a>
                    <br />
                }
                @if (!Model.DonDetails.Receive.Equals(null))
                {
                    <span>Date de récupération du don : @Model.DonDetails.Receive</span>
                    <br />

                }
                @if ((!Model.DonDetails.StockageId.Equals(null) || !Model.DonDetails.PartStreetNb.Equals(null)) && !Model.DonDetails.ReserveDate.Equals(null) && Model.DonDetails.AvailableCollect.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.DonorId)
                {
                    <a asp-controller="Don"
                   asp-action="ConfirmStockage"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Confirmer le dépot dans un espace de stockage</a>
                    <br />
                }
                @if (!Model.DonDetails.AvailableCollect.Equals(null))
                {
                    <span>Date dépot dans un espace de stockage : @Model.DonDetails.AvailableCollect</span>
                    <br />
                }
                @if (Model.DonDetails.Handover.Equals(null) && (Model.DonDetails.StockageId.Equals(null) && Model.DonDetails.PartStreetNb.Equals(null)) && !Model.DonDetails.ReserveDate.Equals(null) && Model.SelectedAdherentId == Model.DonDetails.DonorId)
                {
                    <a asp-controller="Don"
                   asp-action="ConfirmHandover"
                   asp-route-donId="@Model.DonDetails.Id"
                   asp-route-beneficiaryid="@Model.SelectedAdherentId">Confirmer le transfert</a>
                   <br />
                }
                @if (!Model.DonDetails.Handover.Equals(null))
                {
                    <span>Date de validation du transfert : @Model.DonDetails.Handover</span>
                    <br />
                }
            </div>

            @*<div class="availability-timetable">
                <div style="text-align:center;">
                    <h3>Disponibilité</h3>
                </div>
                <table>
                    <tbody>
                        <tr>
                            <td>
                                Lundi:&nbsp
                            </td>

                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[0].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[0].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[0].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[0].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[0].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[0].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[0].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[0].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[0].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[0].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[0].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[0].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }

                        </tr>

                        <tr>
                            <td>
                                Mardi:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[1].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[1].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[1].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[1].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[1].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[1].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[1].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[1].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[1].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[1].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[1].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[1].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>
                                Mercredi:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[2].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[2].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[2].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[2].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[2].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[2].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[2].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[2].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[2].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[2].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[2].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[2].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>
                                Jeudi:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[3].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[3].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[3].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[3].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[3].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[3].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[3].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[3].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[3].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[3].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[3].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[3].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>
                                Vendredi:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[4].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[4].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[4].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[4].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[4].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[4].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[4].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[4].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[4].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[4].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[4].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[4].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>
                                Samedi:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[5].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[5].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[5].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[5].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[5].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[5].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[5].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[5].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[5].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[5].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[5].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[5].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>

                        <tr>
                            <td>
                                Dimanche:&nbsp
                            </td>
                            @if (!Model.DonDetails.HorairesDon.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesDon.Equals(null) && !Model.DonDetails.HorairesDon[6].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesDon[6].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[6].MorningEnd).ToString(@"hh\:mm")) </td>
                                }
                                else
                                {
                                    <td colspan="2"> INDISPONIBLE </td>
                                }
                                @if (!Model.DonDetails.HorairesDon[6].AfternoonStart.Equals(null))
                                {
                                    <td> &nbsp;et @(((TimeSpan)Model.DonDetails.HorairesDon[6].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesDon[6].AfternoonEnd).ToString(@"hh\:mm")) </td>
                                }
                            }
                            else if (!Model.DonDetails.HorairesRelais.Equals(null))
                            {
                                @if (!Model.DonDetails.HorairesRelais[6].MorningStart.Equals(null))
                                {
                                    <td>@(((TimeSpan)Model.DonDetails.HorairesRelais[6].MorningStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[6].MorningEnd).ToString(@"hh\:mm"))</td>
                                }
                                @if (!Model.DonDetails.HorairesRelais[6].AfternoonStart.Equals(null))
                                {
                                    <td>&nbsp;et @(((TimeSpan)Model.DonDetails.HorairesRelais[6].AfternoonStart).ToString(@"hh\:mm")) - @(((TimeSpan)Model.DonDetails.HorairesRelais[6].AfternoonEnd).ToString(@"hh\:mm"))</td>
                                }
                            }
                        </tr>
                    </tbody>
                </table>
            </div>*@
            }
        </div>

    </div>
</body>