﻿@using Fr.EQL.AI110.DLD_GC.Entities
@using Fr.EQL.AI110.DLD_GC.WebApp.Models
@model DonSearchViewModel

<form method="post">
    Rayon :
    <select asp-for="Rayon">
        <option value="">All...</option>
        @foreach (Categorie cat in Model.Categories)
        {
            <option value="@cat.Id">@cat.Name</option>
        }
    </select>
    <br />
    Catégorie :
    <select asp-for="Categorie">
        <option value="">All...</option>
        @foreach (Categorie2 cat in Model.Categories2)
        {
            <option value="@cat.Id">@cat.Name</option>
        }
    </select>
    <br />
    Sous-catégorie :
    <select asp-for="SousCategorie">
        <option value="">All...</option>
        @foreach (Categorie3 cat in Model.Categories3)
        {
            <option value="@cat.Id">@cat.Name</option>
        }
    </select>
    <br />
    ProduitDetails :
    <select asp-for="Produit">
        <option value="">All...</option>
        @foreach (ProduitDetails pro in Model.Produits)
        {
            <option value="@pro.Id">@pro.Name</option>
        }
    </select>
    <br />

    SearchCriteria :
    <input asp-for="SearchCriteria.ProduitName"></input>


    <input type="submit" value="Rechercher" />
</form>
<section class="catalogue">

    @foreach (DonDetails don in Model.Dons)
    {
        <article>
            <header>@don.Picture</header>
            <span>@don.ProduitName</span>
            <span>@don.Dlc</span>
            <!-- ajouter bouton voir détails -->
    </article>
    }

</section>
