﻿@using Fr.EQL.AI110.DLD_GC.Entities
@model DonDetails

<h1>Le don a bien été déposé dans un espace de stockage</h1> 


<form method ="post">

        <img src="/images/Depot.png"/>

    <br/>
    <br/>
    <input type="submit" value="Retour"/>
    <select hidden asp-for="Id">
        <option selected value="@Model.Id"></option>
    </select>

</form>
